<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SATHOSA_ICS.Properties.Settings.SATHOSAConnectionString"
            connectionString="Data Source=SELAKA;Initial Catalog=SATHOSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SATHOSA_ICS.Properties.Settings.SATHOSAConnectionString1"
            connectionString="Data Source=SELAKA\SELA;Initial Catalog=SATHOSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>